<%= stylesheet_link_tag 'gmaps4rails' %>
<h2 align="center">
Here's a map of the jazz clubs that I have been to in Tokyo. 35 so far. Click on the markers for more info. 
</h2>

<%= gmaps4rails(@venues_map) %>
<%= yield :scripts %>

<% 	if current_user.try(:admin?) %>

<h1><%= t '.headline' %></h1>
<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Main url</th>
    <th>Access url</th>
    <th>Geo x</th>
    <th>Geo y</th>
    <th>Ranking</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @venues.each do |venue| %>
  <tr>
    <td><%= venue.name %></td>
    <td><%= venue.address %></td>
    <td><%= venue.main_url %></td>
    <td><%= venue.access_url %></td>
    <td><%= venue.geo_x %></td>
    <td><%= venue.geo_y %></td>
    <td><%= venue.ranking %></td>
    <td><%= venue.description %></td>
   	<td><%= link_to 'Show', venue %></td>
		<% 	if current_user.try(:admin?) %>
    	<td><%= link_to 'Edit', edit_venue_path(venue) %></td>
    	<td><%= link_to 'Destroy', venue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<% end %>
  </tr>
<% end %>
</table>


	<%= link_to 'New Venue', new_venue_path %>
<% end %>