<!DOCTYPE html>
<html>
<head>
  <title>Gigsite</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= link_to 'En', url_for( :locale => 'en' ) %>
	<%= link_to 'Ja', url_for( :locale => 'ja' )  %>

	<%= yield %>

</body>
</html>
