<!DOCTYPE html>
<html>
<head>
	<title>Gigsite</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div id="wrapper">
		<div id="logo"><%= link_to image_tag("logo2.png", :size => "201x38", :alt=> "logo"), 'Events' %></div>
		<div id="btnConcerts">
			<%= link_to image_tag("Buttons/Concerts.jpg"), url_for( :controller => '/events' ), :class => "btnConcerts" %>
		</div>
		<div id="btnClips">
			<%= link_to image_tag("Buttons/Clips.jpg"), "Clips.html", :class => "btnClips" %>
		</div>
		<div id="btnFavorite">
			<%= link_to image_tag("Buttons/Favorite.jpg"), url_for( :controller => '/venues' ), :class => "btnFavorite" %>
		</div>
		<div id="Language">
			<%= link_to image_tag("Buttons/EnglishR.jpg"), url_for( :locale => 'en' ) %>
			<%= link_to image_tag("Buttons/JapaneseR.jpg"), url_for( :locale => 'ja' )  %>
		</div>
		<div id="fineline"></div>
		<div id="box">	
			<br>
			<%= yield %>

			<% 	if current_user.try(:admin?) %>
			<h2>Admin</h2>
			<% end %>
			<% 	if user_signed_in? %>
			<h2><% current_user.email %></h2>
			<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
			<% end %>
		</div>
	</div>
</body>
</html>
