<!DOCTYPE html>
<html xml:lang="<%= I18n.locale || 'en' %>" lang="<%= I18n.locale || 'en'%>">
<head>
	<title>Gigsite</title>
	<%= stylesheet_link_tag "application", controller_name %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<meta name="google-site-verification" content="3U0H3iiq7OcsshjHrPrzqzI0Kv_046XmxwBaSAFE9ds" />
	<%= stylesheet_link_tag "locales/" + I18n.locale.to_s %>

</head>
<body>
	<div id="background"><%= image_tag "Background2.png" %></div>
	<div id="logo" alt="logo"><%= link_to image_tag("#{I18n.locale}/Logo.png"), url_for( :controller => 'static_pages', :action => 'home' ) %></div>
	<div id="wrapper">
		<div id="btnConcerts" alt="Concerts">
			<%= link_to "", url_for( :controller => '/events' ) %>
		</div>
		<div id="btnClips" alt="Clips">
			<%= link_to "", url_for( :controller => 'static_pages', :action => 'clip' ) %>
		</div>
		<div id="btnFavorite" alt="Favourite Jazz Clubs">
			<%= link_to "", url_for( :controller => '/venues' ) %>
		</div>
		<div id="Language">
			<div id ="English">
				<%= link_to "", url_for( :locale => 'en' ) %>
			</div>
			<div id="divider"></div>
			<div id="Japanese">
				<%= link_to "", url_for( :locale => 'ja' )  %>
			</div>
		</div>
		<div id="fineline"></div>
		<div id="box">
			<%= yield %>
		</div>
		<div id="admin">
			<% 	if current_user.try(:admin?) %>
			<h2>Admin</h2>
			<% end %>
			<% 	if user_signed_in? %>
			<h2><% current_user.email %></h2>
			<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
			<% end %>
		</div>
	</div>
</body>
</html>
