<!DOCTYPE html>
<html xml:lang="<%= I18n.locale || 'en' %>" lang="<%= I18n.locale || 'en'%>">
<head>
	<title>Gigsite</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	
	<% if I18n.locale != :en %><%= stylesheet_link_tag "locales/" + I18n.locale.to_s %><% end %>
	
</head>
<body>
	<div id="wrapper">
		<div id="logo"><%= link_to image_tag("logo2.png", :size => "201x38", :alt=> "logo"), 'Events' %></div>
		<div id="btnConcerts">
			<%= link_to "", url_for( :controller => '/events' ), %>
		</div>
		<div id="btnClips">
			<%= link_to "", "Clips.html", :class => "btnClips" %>
		</div>
		<div id="btnFavorite">
			<%= link_to "", url_for( :controller => '/venues' ), :class => "btnFavorite" %>
		</div>
		<div id="Language">
			<%= link_to image_tag("en/Language.jpg"), url_for( :locale => 'en' ) %>
			<%= link_to image_tag("ja/Language.jpg"), url_for( :locale => 'ja' )  %>
		</div>
		<div id="fineline"></div>
		<div id="box">	
			<br>
			<%= yield %>

			<% 	if current_user.try(:admin?) %>
			<h2>Admin</h2>
			<% end %>
			<% 	if user_signed_in? %>
			<h2><% current_user.email %></h2>
			<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
			<% end %>
		</div>
	</div>
</body>
</html>
